*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    font-family: 'roboto';
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

header h1 {
    text-align: center;
    font-family: 'madimi one', 'tahoma';
    padding-top: 20px;
}

nav {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'roboto', 'tahoma';
}

nav a {
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 0.3em solid #00bfff;
    font-weight: bold;
    padding-bottom: 0.4em;
}

main {
    padding-top: 140px;
    font-family: 'madimi one', 'tahoma';
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, fr); */
}

#manchete {
    grid-column: 1/4;   
    min-height: 400px;
    display: flex;
    padding: 1%;
    margin-bottom: 20px;
    box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.corpo-manchete {
    width: 38%;
    padding: 1%;
    
}

.corpo-manchete h2  {
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    padding-top: 75px;
}

.corpo-manchete p {
    padding: 2%;
    text-align: center;
}

.corpo-manchete a:hover {
    text-decoration: underline;
}

.corpo-manchete a {
    text-decoration: none;
    color: inherit;
}


#manchete img {
    width: auto;
    border-radius: 5px;
    
}

#noticias {
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

article{
    width: 31.33%;
    padding: 1%;
    min-height: 300px;

}

#noticia1 {
    background-color: #ff0000;
}

#noticia2 {
    background-color: #00ff00;
}

#noticia3 {
    background-color: #0000ff;
}


footer {
    background-color: #191970;
    width: 100%;
    color: #ffffff;
    font-family: 'roboto';
    text-align: center;
    padding: 17px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

    


